* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
}

/* navigation sidebar styling */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar a {
  text-decoration: none;
  padding: 8px 18px;
  width: 90%;
  border-radius: 7px;
  font-size: 32px;
  font-weight: 700;
  color: #333333;
  margin: 15px 0;
  position: relative;
  left: 10px;
}

.navbar i {
  font-size: 40px;
}

#close-sidebar {
  width: 23%;
}

.sidebar a:hover {
  background: #eaeaea;
}

.menu-btn {
  display: none;
}

/* navigation bar styling */
.navbar {
  height: 75px;
  width: 90%;
  border-bottom: 2px solid #d6d6d6;
  display: flex;
  align-items: center;
  transform: translateX(67px);
}

.logo {
  margin: 0 60px;
  font-size: 38px;
  font-weight: 700;
  color: #535353;
}

.navbar-options {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 80px;
  gap: 15px;
}

.navbar-options a {
  text-decoration: none;
  padding: 8px 35px;
  border-radius: 7px;
  font-size: 19px;
  font-weight: 600;
  color: #535353;
}

.navbar-options a:hover {
  background: #eaeaea;
}

/* hero title */
.hero-title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
  font-size: 45px;
}

.hero-title h2 {
  font-weight: 700;
}

/* options for levels */
.flag-option-container {
  height: 350px;
  width: 100%;
  position: relative;
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.flag-option1,
.flag-option2,
.flag-option3 {
  height: 300px;
  width: 230px;
  background: #eceff2;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.3s ease;
}

.flag-option1:hover,
.flag-option2:hover,
.flag-option3:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.option1-img,
.option2-img,
.option3-img {
  height: 125px;
  width: 200px;
  border-radius: 15px;
  transform: translateY(20px);
  overflow: hidden;
}

.option1-img img,
.option2-img img,
.option3-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flag-option1 p,
.flag-option2 p,
.flag-option3 p {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

/* footer section */
.footer {
  width: 100%;
  background: #000;
  text-align: center;
  color: white;
  padding: 10px 0;
  margin-top: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .bottom-line {
  height: 10px;
  width: 85%;
  border-bottom: 1px solid #333;
}

.footer p,
i,
span {
  color: #d0d0d0;
}

.footer h2 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #fff;
}

/* responsivenes */
@media screen and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  body {
    max-width: 28vh;
  }
  .navbar {
    width: 45rem;
    transform: translateX(21px);
  }
  .logo {
    margin: 0 8px;
    font-size: 45px;
    font-weight: 700;
    color: #424242;
  }
  .navbar-options i {
    font-size: 33px;
    position: relative;
    left: 230px;
  }
  .navbar-options a:hover {
    background: #fff;
    z-index: -1000;
  }
  .hero-title {
    position: relative;
    top: 80px;
    left: 55px;
    width: 40rem;
    text-align: center;
  }

  .hero-title h2 {
    font-weight: 900;
    font-size: 5.5rem;
  }
  .flag-option-container {
    position: relative;
    top: 200px;
    left: 50px;
    height: 430px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 9px;
  }
  .flag-option1,
  .flag-option2,
  .flag-option3 {
    height: 340px;
    flex: 0 1 calc(43% - 1px);
    margin: 0 5px;
  }
  .flag-option2 {
    margin-right: 11px;
  }
  .flag-option1,
  .flag-option3 {
    margin-left: 42px;
  }
  .flag-option3 {
    margin-top: 23px;
  }
  .option1-img,
  .option2-img,
  .option3-img {
    height: 170px;
    width: 240px;
    transform: translateY(15px);
  }
  .flag-option1 p,
  .flag-option2 p,
  .flag-option3 p {
    font-size: 32px;
    font-weight: 800;
  }
  .footer {
    width: 370%;
    margin-top: 750px;
  }
  .footer h2 {
    font-size: 23px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
    height: 100%;
  }
}
