* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* navigation bar styling */
.navbar {
  height: 75px;
  width: 90%;
  border-bottom: 2px solid #d6d6d6;
  display: flex;
  align-items: center;
  transform: translate(67px);
}

.logo {
  margin: 0 60px;
  font-size: 38px;
  font-weight: 700;
  color: #535353;
}

.navbar-options {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 80px;
  gap: 15px;
}

.navbar-options a {
  text-decoration: none;
  padding: 8px 35px;
  border-radius: 7px;
  font-size: 19px;
  font-weight: 600;
  color: #535353;
}

.navbar-options a:hover {
  background: #eaeaea;
}

/* main section */

/* starter page styling */
.flagmedium-starter-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.flagmedium-title h2 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 30px;
}

.flagmedium-description p {
  font-size: 26px;
  font-weight: 400;
}

#flagmedium-start-btn {
  height: 50px;
  width: 135px;
  font-size: 22px;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  background: #83caf0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#flagmedium-start-btn:hover {
  transform: scale(1.03);
}

#flagmedium-start-btn:active {
  transform: scale(0.95);
}

/* work in progress */
.wip-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

/* responsivenes */
@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .navbar {
    width: 90%;
    height: 55px;
    transform: translateX(23px);
    border-bottom: 3px solid #d6d6d6;
  }
  .navbar-options {
    right: 35px;
    gap: 10px;
  }

  /* starter page */
  .flagmedium-starter-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
  }
  .flagmedium-title h2 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .flagmedium-description p {
    font-size: 25px;
    font-weight: 400;
  }

  #flagmedium-start-btn {
    height: 50px;
    width: 135px;
    font-size: 22px;
  }
}
